/* Navbar Section  */
.navbar {
  position: relative;
  background-color: white;
  transition: all 0.3s ease-out 0s;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171);
  font-size: 1.2rem;
}

.navbar.fixed {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
}

.navbar-toggler {
  position: relative;
  background-color: transparent;
  border-color: transparent;
}

.navbar-toggler span {
  display: block;
  background-color: black;
  height: 4px;
  width: 27px;
  margin-top: 5px;
  margin-bottom: 5px;
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  border: none;
  outline: 0;
  box-shadow: 0 0 0 transparent;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  transform: rotate(-135deg);
  opacity: 0.9;
}

@media (max-width: 767px) {
  .navbar {
    font-size: 1.4rem;
  }

  .navbar-nav .nav-item::after {
    display: none;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.navbar-brand ion-icon {
  font-size: 25px;
}

.logo {
  font-size: 25px;
  font-weight: 500;
  color: black;
  margin: 0;
}

.navbar-link {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 10px;
  padding: 0.8rem 0.5rem 0.2rem;
}

.nav-link-label {
  color: black;
  font-size: 18px;
  font-weight: 600;
}

.nav-icon {
  width: 30px;
  height: 30px;
  padding-bottom: 5px;
}

.cart {
  position: relative;
  z-index: 3;
}

.cart::before {
  content: attr(data-num);
  position: absolute;
  right: 0;
  top: -5px;
  background-color: #0f3460;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  font-size: 11px;
  font-weight: 600;
  color: white;
  z-index: 5;
}

@media (max-width: 767px) {
  .nav-link {
    padding: 0.7rem 1rem;
  }
}

.navbar-nav .nav-item {
  position: relative;
  padding-bottom: 3px;
  margin: 0 1rem;
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  z-index: 1;
}

.offcanvas.offcanvas-end {
  width: 300px;
}

.media-cart {
  display: none;
}

@media (max-width:767px) {
  .navbar-toggler span {
    width: 25px;
    height: 3px;
  }
  ion-icon {
    font-size: 20px;
  }

  .logo {
    font-size: 20px;
  }

  .expanded-cart {
    display: none;
  }

  .media-cart {
    display: flex;
    align-items: flex-end;
    gap: 5px;
  }
  
}
